<!DOCTYPE html>
<footer>

	<a id="logo_footer" title="Retour à l'accueil" href="/forum/index">
		<img id="logo" src="http://<%=session.adr_ip%>:8080/img/logo_forum.png" alt="logo" />
	</a>
	<h5 id="copyright">Copyright: &copy; gLt</h5>

</footer>